[Unit]
Description=GoodOS GoodAppBackEnd database backup
After=postgresql.service

[Service]
Type=oneshot
User=root
Group=root
WorkingDirectory=/var/www/GoodAppBackEnd
ExecStart=/var/www/GoodAppBackEnd/scripts/create-db-backup.sh
