[Unit]
Description=Schedule Goodbase encrypted backup retention

[Timer]
OnCalendar=*-*-* 04:15:00
RandomizedDelaySec=600
Persistent=true
Unit=goodbase-backup-retention.service

[Install]
WantedBy=timers.target
