{
  "openapi": "3.1.0",
  "info": {
    "title": "GoodOS Public API",
    "version": "1.0.0",
    "description": "GoodAppBackEnd public API for GoodOS apps. All public endpoints require an API key using X-GoodOS-API-Key or Authorization: Bearer."
  },
  "servers": [
    {
      "url": "https://backend.goodos.app/api/v1",
      "description": "GoodOS Production Public API"
    }
  ],
  "security": [
    {
      "GoodOSApiKey": []
    },
    {
      "GoodOSBearer": []
    }
  ],
  "components": {
    "securitySchemes": {
      "GoodOSApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-GoodOS-API-Key"
      },
      "GoodOSBearer": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "ApiKeyContext": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "allowedAppIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          }
        },
        "required": [
          "success"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "const": false
          },
          "message": {
            "type": "string"
          },
          "detail": {
            "type": "string"
          }
        }
      }
    }
  },
  "paths": {
    "/health": {
      "get": {
        "summary": "Public API health check",
        "description": "Requires scope: read:health",
        "security": [
          {
            "GoodOSApiKey": []
          },
          {
            "GoodOSBearer": []
          }
        ],
        "x-goodos-scope": "read:health",
        "responses": {
          "200": {
            "description": "Health response",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "service": "GoodAppBackEnd Public API",
                  "status": "ok",
                  "apiKey": {
                    "id": "key_xxx",
                    "name": "Function Execute Key",
                    "type": "scoped",
                    "scopes": [
                      "read:health"
                    ]
                  },
                  "time": "2026-06-26T00:00:00.000Z"
                }
              }
            }
          },
          "401": {
            "description": "API key required"
          },
          "403": {
            "description": "Missing required scope"
          }
        }
      }
    },
    "/apps": {
      "get": {
        "summary": "List apps allowed for the API key",
        "description": "Requires scope: read:apps. App results are filtered by allowed_app_ids on the API key.",
        "security": [
          {
            "GoodOSApiKey": []
          },
          {
            "GoodOSBearer": []
          }
        ],
        "x-goodos-scope": "read:apps",
        "responses": {
          "200": {
            "description": "Allowed apps",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "apps": [
                      {
                        "id": "goodfleet",
                        "name": "GoodFleet",
                        "domain": "fleet.goodos.app",
                        "status": "active",
                        "memberCount": 1
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "API key required"
          },
          "403": {
            "description": "Missing required scope"
          }
        }
      }
    },
    "/storage/buckets": {
      "get": {
        "summary": "List storage buckets",
        "description": "Requires scope: read:storage. Returns Storage V2 bucket metadata including provider/CDN fields when available.",
        "security": [
          {
            "GoodOSApiKey": []
          },
          {
            "GoodOSBearer": []
          }
        ],
        "x-goodos-scope": "read:storage",
        "responses": {
          "200": {
            "description": "Storage buckets"
          },
          "401": {
            "description": "API key required"
          },
          "403": {
            "description": "Missing required scope"
          }
        }
      }
    },
    "/storage/files": {
      "get": {
        "summary": "List storage files",
        "description": "Requires scope: read:storage. Returns Storage V2 file/object metadata including object keys, checksums, versions, and public/CDN URLs when available.",
        "security": [
          {
            "GoodOSApiKey": []
          },
          {
            "GoodOSBearer": []
          }
        ],
        "x-goodos-scope": "read:storage",
        "parameters": [
          {
            "name": "bucket",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Storage files"
          },
          "401": {
            "description": "API key required"
          },
          "403": {
            "description": "Missing required scope"
          }
        }
      }
    },
    "/functions/{slug}": {
      "get": {
        "summary": "Call an HTTP Edge Function using GET",
        "description": "Requires scope: execute:functions. Executes through the GoodOS Edge Functions V2 controlled runtime when V2 metadata is enabled.",
        "security": [
          {
            "GoodOSApiKey": []
          },
          {
            "GoodOSBearer": []
          }
        ],
        "x-goodos-scope": "execute:functions",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "health-check"
          }
        ],
        "responses": {
          "200": {
            "description": "Function execution result"
          },
          "401": {
            "description": "API key required"
          },
          "403": {
            "description": "Missing required scope"
          },
          "404": {
            "description": "Function not found"
          }
        },
        "x-goodos-runtime": "edge-functions-v2"
      },
      "post": {
        "summary": "Call an HTTP Edge Function using POST",
        "description": "Requires scope: execute:functions. Executes through the GoodOS Edge Functions V2 controlled runtime when V2 metadata is enabled.",
        "security": [
          {
            "GoodOSApiKey": []
          },
          {
            "GoodOSBearer": []
          }
        ],
        "x-goodos-scope": "execute:functions",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "health-check"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "example": {
                "source": "developer-docs",
                "message": "Testing GoodOS callable function"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Function execution result"
          },
          "401": {
            "description": "API key required"
          },
          "403": {
            "description": "Missing required scope"
          },
          "404": {
            "description": "Function not found"
          }
        },
        "x-goodos-runtime": "edge-functions-v2"
      }
    },
    "/db/tables": {
      "get": {
        "summary": "List published Database API tables",
        "description": "Requires scope: read:db",
        "security": [
          {
            "GoodOSApiKey": []
          },
          {
            "GoodOSBearer": []
          }
        ],
        "x-goodos-scope": "read:db",
        "responses": {
          "200": {
            "description": "Published tables"
          },
          "401": {
            "description": "API key required"
          },
          "403": {
            "description": "Missing required scope"
          }
        }
      }
    },
    "/db/{tableSlug}/rows": {
      "get": {
        "summary": "List rows from a published table",
        "description": "Requires scope: read:db",
        "security": [
          {
            "GoodOSApiKey": []
          },
          {
            "GoodOSBearer": []
          }
        ],
        "x-goodos-scope": "read:db",
        "parameters": [
          {
            "name": "tableSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "apps"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Table rows"
          },
          "401": {
            "description": "API key required"
          },
          "403": {
            "description": "Missing required scope or table disabled"
          },
          "404": {
            "description": "Published table not found"
          }
        }
      },
      "post": {
        "summary": "Create a row in a write-enabled published table",
        "description": "Requires scope: write:db and table insert permission",
        "security": [
          {
            "GoodOSApiKey": []
          },
          {
            "GoodOSBearer": []
          }
        ],
        "x-goodos-scope": "write:db",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "title": "New demo item",
                "status": "active"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Row created"
          },
          "401": {
            "description": "API key required"
          },
          "403": {
            "description": "Missing required scope or table disabled"
          }
        }
      }
    },
    "/db/{tableSlug}/rows/{id}": {
      "get": {
        "summary": "Get one row from a published table",
        "description": "Requires scope: read:db",
        "security": [
          {
            "GoodOSApiKey": []
          },
          {
            "GoodOSBearer": []
          }
        ],
        "x-goodos-scope": "read:db",
        "parameters": [
          {
            "name": "tableSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Table row"
          }
        }
      },
      "patch": {
        "summary": "Update a row in a write-enabled published table",
        "description": "Requires scope: write:db and table update permission",
        "security": [
          {
            "GoodOSApiKey": []
          },
          {
            "GoodOSBearer": []
          }
        ],
        "x-goodos-scope": "write:db",
        "parameters": [
          {
            "name": "tableSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Row updated"
          }
        }
      },
      "delete": {
        "summary": "Delete or soft-delete a row in a write-enabled published table",
        "description": "Requires scope: write:db and table delete permission",
        "security": [
          {
            "GoodOSApiKey": []
          },
          {
            "GoodOSBearer": []
          }
        ],
        "x-goodos-scope": "write:db",
        "parameters": [
          {
            "name": "tableSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Row deleted"
          }
        }
      }
    },
    "/storage/public/{bucketName}/{objectKey}": {
      "get": {
        "summary": "Read a public Storage V2 object",
        "description": "Public object delivery route for buckets marked public or public_read_enabled. This route is served from the root backend domain, not /api/v1.",
        "servers": [
          {
            "url": "https://backend.goodos.app"
          }
        ],
        "parameters": [
          {
            "name": "bucketName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "storage-v2-public"
          },
          {
            "name": "objectKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "v2-public-health.txt"
          }
        ],
        "responses": {
          "200": {
            "description": "Object file"
          },
          "403": {
            "description": "Bucket or path blocked"
          },
          "404": {
            "description": "Object not found"
          }
        }
      }
    },
    "/functions/{slug}/v2-runtime": {
      "get": {
        "summary": "Edge Functions V2 runtime metadata",
        "description": "Documentation marker for Edge Functions V2 runtime metadata returned under output._runtime.",
        "security": [
          {
            "GoodOSApiKey": []
          },
          {
            "GoodOSBearer": []
          }
        ],
        "x-goodos-scope": "execute:functions",
        "responses": {
          "200": {
            "description": "Runtime metadata is returned during function execution."
          }
        }
      }
    },
    "/realtime/channels": {
      "get": {
        "summary": "List Realtime V2 channels",
        "description": "Requires scope: read:realtime",
        "security": [
          {
            "GoodOSApiKey": []
          },
          {
            "GoodOSBearer": []
          }
        ],
        "x-goodos-scope": "read:realtime",
        "responses": {
          "200": {
            "description": "Realtime channels"
          }
        }
      }
    },
    "/realtime/events": {
      "get": {
        "summary": "List Realtime V2 messages",
        "description": "Requires scope: read:realtime",
        "security": [
          {
            "GoodOSApiKey": []
          },
          {
            "GoodOSBearer": []
          }
        ],
        "x-goodos-scope": "read:realtime",
        "parameters": [
          {
            "name": "channel",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Realtime messages"
          }
        }
      },
      "post": {
        "summary": "Publish a Realtime V2 message",
        "description": "Requires scope: publish:realtime",
        "security": [
          {
            "GoodOSApiKey": []
          },
          {
            "GoodOSBearer": []
          }
        ],
        "x-goodos-scope": "publish:realtime",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "channel": "system",
                "eventType": "demo.message",
                "message": "Hello Realtime V2",
                "payload": {
                  "ok": true
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Realtime message published"
          }
        }
      }
    },
    "/realtime/stream": {
      "get": {
        "summary": "Subscribe to Realtime V2 SSE stream",
        "description": "Requires scope: subscribe:realtime. Use X-GoodOS-API-Key header.",
        "security": [
          {
            "GoodOSApiKey": []
          },
          {
            "GoodOSBearer": []
          }
        ],
        "x-goodos-scope": "subscribe:realtime",
        "parameters": [
          {
            "name": "channel",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Server-Sent Events stream"
          }
        }
      }
    },
    "/realtime/ws": {
      "get": {
        "summary": "Realtime V2 WebSocket endpoint",
        "description": "Connect to wss://backend.goodos.app/api/v1/realtime/ws?api_key=YOUR_KEY&channel=system with subscribe:realtime scope. Publish messages with publish:realtime scope.",
        "x-goodos-scope": "subscribe:realtime",
        "responses": {
          "101": {
            "description": "WebSocket upgrade"
          }
        }
      }
    },
    "/auth/session": {
      "get": {
        "summary": "Get Auth V2 session",
        "description": "Requires GoodOS session cookie or bearer token. Returns user, session, roles, and MFA factor state.",
        "responses": {
          "200": {
            "description": "Current Auth V2 session"
          },
          "401": {
            "description": "Authentication required"
          }
        }
      }
    },
    "/auth/roles": {
      "get": {
        "summary": "Get Auth V2 roles for current user",
        "description": "Requires authentication.",
        "responses": {
          "200": {
            "description": "Role matrix and current user roles"
          },
          "401": {
            "description": "Authentication required"
          }
        }
      }
    },
    "/auth/mfa/setup": {
      "post": {
        "summary": "Start TOTP MFA setup",
        "description": "Requires authentication. Returns QR code data URL and setup secret once.",
        "responses": {
          "200": {
            "description": "MFA setup started"
          }
        }
      }
    },
    "/auth/mfa/verify": {
      "post": {
        "summary": "Verify TOTP MFA factor",
        "description": "Requires authentication.",
        "responses": {
          "200": {
            "description": "MFA verified"
          }
        }
      }
    },
    "/auth/password-reset/request": {
      "post": {
        "summary": "Request password reset",
        "description": "Creates a password reset token if an active account exists.",
        "responses": {
          "200": {
            "description": "Password reset requested"
          }
        }
      }
    },
    "/auth/password-reset/complete": {
      "post": {
        "summary": "Complete password reset",
        "description": "Uses a reset token to set a new password.",
        "responses": {
          "200": {
            "description": "Password reset complete"
          }
        }
      }
    },
    "/billing/plans": {
      "get": {
        "summary": "List billing plans",
        "description": "Returns the public GoodOS billing plan catalog.",
        "responses": {
          "200": {
            "description": "Billing plans"
          }
        }
      }
    },
    "/usage": {
      "get": {
        "summary": "Get usage snapshot",
        "description": "Requires scope: read:usage. Returns usage, quotas, and current API key usage.",
        "security": [
          {
            "GoodOSApiKey": []
          },
          {
            "GoodOSBearer": []
          }
        ],
        "x-goodos-scope": "read:usage",
        "responses": {
          "200": {
            "description": "Usage snapshot"
          }
        }
      }
    },
    "/notifications": {
      "get": {
        "summary": "List notifications",
        "description": "Requires scope: read:notifications.",
        "security": [
          {
            "GoodOSApiKey": []
          },
          {
            "GoodOSBearer": []
          }
        ],
        "x-goodos-scope": "read:notifications",
        "responses": {
          "200": {
            "description": "Notifications and message center records"
          }
        }
      },
      "post": {
        "summary": "Create notification",
        "description": "Requires scope: write:notifications.",
        "security": [
          {
            "GoodOSApiKey": []
          },
          {
            "GoodOSBearer": []
          }
        ],
        "x-goodos-scope": "write:notifications",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "title": "System notice",
                "message": "Hello from GoodOS Notifications V2",
                "severity": "info",
                "category": "system",
                "channel": "in_app"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Notification created"
          }
        }
      }
    },
    "/admin/jobs-page-data": {
      "get": {
        "summary": "Admin Jobs V2 page data",
        "description": "Admin-only route for jobs, schedules, runs, locks, worker heartbeats, and queue items.",
        "responses": {
          "200": {
            "description": "Jobs V2 snapshot"
          },
          "401": {
            "description": "Authentication required"
          }
        }
      }
    },
    "/admin/jobs/{id}/run-safe": {
      "post": {
        "summary": "Run one job",
        "description": "Admin-only manual job execution.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job run result"
          },
          "401": {
            "description": "Authentication required"
          }
        }
      }
    },
    "/admin/jobs/run-due-safe": {
      "post": {
        "summary": "Run due jobs",
        "description": "Admin-only route to process currently due jobs.",
        "responses": {
          "200": {
            "description": "Due jobs processed"
          },
          "401": {
            "description": "Authentication required"
          }
        }
      }
    },
    "/api/admin/secrets-v2-page-data": {
      "get": {
        "summary": "Secrets V2 page data",
        "tags": [
          "Admin",
          "Secrets V2"
        ],
        "responses": {
          "200": {
            "description": "Secret metadata snapshot"
          },
          "401": {
            "description": "Authorization required"
          }
        }
      }
    },
    "/api/admin/secrets/create-safe": {
      "post": {
        "summary": "Create or rotate secret",
        "tags": [
          "Admin",
          "Secrets V2"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "secretKey": {
                    "type": "string"
                  },
                  "secretValue": {
                    "type": "string"
                  },
                  "displayName": {
                    "type": "string"
                  },
                  "category": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Encrypted secret reference created or rotated"
          },
          "401": {
            "description": "Authorization required"
          }
        }
      }
    },
    "/api/admin/secrets/{key}/rotate-safe": {
      "post": {
        "summary": "Rotate secret by key",
        "tags": [
          "Admin",
          "Secrets V2"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Secret rotated"
          },
          "401": {
            "description": "Authorization required"
          }
        }
      }
    },
    "/api/admin/secrets/{key}/resolve-test-safe": {
      "post": {
        "summary": "Resolve secret test",
        "tags": [
          "Admin",
          "Secrets V2"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Secret resolution test without raw value"
          },
          "401": {
            "description": "Authorization required"
          }
        }
      }
    }
  }
}
