{
  "openapi": "3.1.0",
  "info": {
    "title": "GoodOS Public API",
    "version": "1.0.0",
    "description": "GoodAppBackEnd public API for GoodOS apps. All public endpoints require an API key using X-GoodOS-API-Key or Authorization: Bearer."
  },
  "servers": [
    {
      "url": "https://base.goodos.app/api/v1",
      "description": "GoodOS Production Public API"
    }
  ],
  "security": [
    {
      "GoodOSApiKey": []
    },
    {
      "GoodOSBearer": []
    }
  ],
  "components": {
    "securitySchemes": {
      "GoodOSApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-GoodOS-API-Key"
      },
      "GoodOSBearer": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "ApiKeyContext": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "allowedAppIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          }
        },
        "required": [
          "success"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "const": false
          },
          "message": {
            "type": "string"
          },
          "detail": {
            "type": "string"
          }
        }
      }
    }
  },
  "paths": {
    "/health": {
      "get": {
        "summary": "Public API health check",
        "description": "Requires scope: read:health",
        "security": [
          {
            "GoodOSApiKey": []
          },
          {
            "GoodOSBearer": []
          }
        ],
        "x-goodos-scope": "read:health",
        "responses": {
          "200": {
            "description": "Health response",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "service": "GoodAppBackEnd Public API",
                  "status": "ok",
                  "apiKey": {
                    "id": "key_xxx",
                    "name": "Function Execute Key",
                    "type": "scoped",
                    "scopes": [
                      "read:health"
                    ]
                  },
                  "time": "2026-06-26T00:00:00.000Z"
                }
              }
            }
          },
          "401": {
            "description": "API key required"
          },
          "403": {
            "description": "Missing required scope"
          }
        }
      }
    },
    "/apps": {
      "get": {
        "summary": "List apps allowed for the API key",
        "description": "Requires scope: read:apps. App results are filtered by allowed_app_ids on the API key.",
        "security": [
          {
            "GoodOSApiKey": []
          },
          {
            "GoodOSBearer": []
          }
        ],
        "x-goodos-scope": "read:apps",
        "responses": {
          "200": {
            "description": "Allowed apps",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "apps": [
                      {
                        "id": "goodfleet",
                        "name": "GoodFleet",
                        "domain": "fleet.goodos.app",
                        "status": "active",
                        "memberCount": 1
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "API key required"
          },
          "403": {
            "description": "Missing required scope"
          }
        }
      }
    },
    "/storage/buckets": {
      "get": {
        "summary": "List storage buckets",
        "description": "Requires scope: read:storage. Returns Storage V2 bucket metadata including provider/CDN fields when available.",
        "security": [
          {
            "GoodOSApiKey": []
          },
          {
            "GoodOSBearer": []
          }
        ],
        "x-goodos-scope": "read:storage",
        "responses": {
          "200": {
            "description": "Storage buckets"
          },
          "401": {
            "description": "API key required"
          },
          "403": {
            "description": "Missing required scope"
          }
        }
      }
    },
    "/storage/files": {
      "get": {
        "summary": "List storage files",
        "description": "Requires scope: read:storage. Returns Storage V2 file/object metadata including object keys, checksums, versions, and public/CDN URLs when available.",
        "security": [
          {
            "GoodOSApiKey": []
          },
          {
            "GoodOSBearer": []
          }
        ],
        "x-goodos-scope": "read:storage",
        "parameters": [
          {
            "name": "bucket",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Storage files"
          },
          "401": {
            "description": "API key required"
          },
          "403": {
            "description": "Missing required scope"
          }
        }
      }
    },
    "/functions/{slug}": {
      "get": {
        "summary": "Call an HTTP Edge Function using GET",
        "description": "Requires scope: execute:functions. Executes through the GoodOS Edge Functions V2 controlled runtime when V2 metadata is enabled.",
        "security": [
          {
            "GoodOSApiKey": []
          },
          {
            "GoodOSBearer": []
          }
        ],
        "x-goodos-scope": "execute:functions",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "health-check"
          }
        ],
        "responses": {
          "200": {
            "description": "Function execution result"
          },
          "401": {
            "description": "API key required"
          },
          "403": {
            "description": "Missing required scope"
          },
          "404": {
            "description": "Function not found"
          }
        },
        "x-goodos-runtime": "edge-functions-v2"
      },
      "post": {
        "summary": "Call an HTTP Edge Function using POST",
        "description": "Requires scope: execute:functions. Executes through the GoodOS Edge Functions V2 controlled runtime when V2 metadata is enabled.",
        "security": [
          {
            "GoodOSApiKey": []
          },
          {
            "GoodOSBearer": []
          }
        ],
        "x-goodos-scope": "execute:functions",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "health-check"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "example": {
                "source": "developer-docs",
                "message": "Testing GoodOS callable function"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Function execution result"
          },
          "401": {
            "description": "API key required"
          },
          "403": {
            "description": "Missing required scope"
          },
          "404": {
            "description": "Function not found"
          }
        },
        "x-goodos-runtime": "edge-functions-v2"
      }
    },
    "/db/tables": {
      "get": {
        "summary": "List published Database API tables",
        "description": "Requires scope: read:db",
        "security": [
          {
            "GoodOSApiKey": []
          },
          {
            "GoodOSBearer": []
          }
        ],
        "x-goodos-scope": "read:db",
        "responses": {
          "200": {
            "description": "Published tables"
          },
          "401": {
            "description": "API key required"
          },
          "403": {
            "description": "Missing required scope"
          }
        }
      }
    },
    "/db/{tableSlug}/rows": {
      "get": {
        "summary": "List rows from a published table",
        "description": "Requires scope: read:db",
        "security": [
          {
            "GoodOSApiKey": []
          },
          {
            "GoodOSBearer": []
          }
        ],
        "x-goodos-scope": "read:db",
        "parameters": [
          {
            "name": "tableSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "apps"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Table rows"
          },
          "401": {
            "description": "API key required"
          },
          "403": {
            "description": "Missing required scope or table disabled"
          },
          "404": {
            "description": "Published table not found"
          }
        }
      },
      "post": {
        "summary": "Create a row in a write-enabled published table",
        "description": "Requires scope: write:db and table insert permission",
        "security": [
          {
            "GoodOSApiKey": []
          },
          {
            "GoodOSBearer": []
          }
        ],
        "x-goodos-scope": "write:db",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "title": "New demo item",
                "status": "active"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Row created"
          },
          "401": {
            "description": "API key required"
          },
          "403": {
            "description": "Missing required scope or table disabled"
          }
        }
      }
    },
    "/db/{tableSlug}/rows/{id}": {
      "get": {
        "summary": "Get one row from a published table",
        "description": "Requires scope: read:db",
        "security": [
          {
            "GoodOSApiKey": []
          },
          {
            "GoodOSBearer": []
          }
        ],
        "x-goodos-scope": "read:db",
        "parameters": [
          {
            "name": "tableSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Table row"
          }
        }
      },
      "patch": {
        "summary": "Update a row in a write-enabled published table",
        "description": "Requires scope: write:db and table update permission",
        "security": [
          {
            "GoodOSApiKey": []
          },
          {
            "GoodOSBearer": []
          }
        ],
        "x-goodos-scope": "write:db",
        "parameters": [
          {
            "name": "tableSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Row updated"
          }
        }
      },
      "delete": {
        "summary": "Delete or soft-delete a row in a write-enabled published table",
        "description": "Requires scope: write:db and table delete permission",
        "security": [
          {
            "GoodOSApiKey": []
          },
          {
            "GoodOSBearer": []
          }
        ],
        "x-goodos-scope": "write:db",
        "parameters": [
          {
            "name": "tableSlug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Row deleted"
          }
        }
      }
    },
    "/storage/public/{bucketName}/{objectKey}": {
      "get": {
        "summary": "Read a public Storage V2 object",
        "description": "Public object delivery route for buckets marked public or public_read_enabled. This route is served from the root backend domain, not /api/v1.",
        "servers": [
          {
            "url": "https://base.goodos.app"
          }
        ],
        "parameters": [
          {
            "name": "bucketName",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "storage-v2-public"
          },
          {
            "name": "objectKey",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "v2-public-health.txt"
          }
        ],
        "responses": {
          "200": {
            "description": "Object file"
          },
          "403": {
            "description": "Bucket or path blocked"
          },
          "404": {
            "description": "Object not found"
          }
        }
      }
    },
    "/functions/{slug}/v2-runtime": {
      "get": {
        "summary": "Edge Functions V2 runtime metadata",
        "description": "Documentation marker for Edge Functions V2 runtime metadata returned under output._runtime.",
        "security": [
          {
            "GoodOSApiKey": []
          },
          {
            "GoodOSBearer": []
          }
        ],
        "x-goodos-scope": "execute:functions",
        "responses": {
          "200": {
            "description": "Runtime metadata is returned during function execution."
          }
        }
      }
    },
    "/realtime/channels": {
      "get": {
        "summary": "List Realtime V2 channels",
        "description": "Requires scope: read:realtime",
        "security": [
          {
            "GoodOSApiKey": []
          },
          {
            "GoodOSBearer": []
          }
        ],
        "x-goodos-scope": "read:realtime",
        "responses": {
          "200": {
            "description": "Realtime channels"
          }
        }
      }
    },
    "/realtime/events": {
      "get": {
        "summary": "List Realtime V2 messages",
        "description": "Requires scope: read:realtime",
        "security": [
          {
            "GoodOSApiKey": []
          },
          {
            "GoodOSBearer": []
          }
        ],
        "x-goodos-scope": "read:realtime",
        "parameters": [
          {
            "name": "channel",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Realtime messages"
          }
        }
      },
      "post": {
        "summary": "Publish a Realtime V2 message",
        "description": "Requires scope: publish:realtime",
        "security": [
          {
            "GoodOSApiKey": []
          },
          {
            "GoodOSBearer": []
          }
        ],
        "x-goodos-scope": "publish:realtime",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "channel": "system",
                "eventType": "demo.message",
                "message": "Hello Realtime V2",
                "payload": {
                  "ok": true
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Realtime message published"
          }
        }
      }
    },
    "/realtime/stream": {
      "get": {
        "summary": "Subscribe to Realtime V2 SSE stream",
        "description": "Requires scope: subscribe:realtime. Use X-GoodOS-API-Key header.",
        "security": [
          {
            "GoodOSApiKey": []
          },
          {
            "GoodOSBearer": []
          }
        ],
        "x-goodos-scope": "subscribe:realtime",
        "parameters": [
          {
            "name": "channel",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Server-Sent Events stream"
          }
        }
      }
    },
    "/realtime/ws": {
      "get": {
        "summary": "Realtime V2 WebSocket endpoint",
        "description": "Connect to wss://base.goodos.app/api/v1/realtime/ws?api_key=YOUR_KEY&channel=system with subscribe:realtime scope. Publish messages with publish:realtime scope.",
        "x-goodos-scope": "subscribe:realtime",
        "responses": {
          "101": {
            "description": "WebSocket upgrade"
          }
        }
      }
    },
    "/auth/session": {
      "get": {
        "summary": "Get Auth V2 session",
        "description": "Requires GoodOS session cookie or bearer token. Returns user, session, roles, and MFA factor state.",
        "responses": {
          "200": {
            "description": "Current Auth V2 session"
          },
          "401": {
            "description": "Authentication required"
          }
        }
      }
    },
    "/auth/roles": {
      "get": {
        "summary": "Get Auth V2 roles for current user",
        "description": "Requires authentication.",
        "responses": {
          "200": {
            "description": "Role matrix and current user roles"
          },
          "401": {
            "description": "Authentication required"
          }
        }
      }
    },
    "/auth/mfa/setup": {
      "post": {
        "summary": "Start TOTP MFA setup",
        "description": "Requires authentication. Returns QR code data URL and setup secret once.",
        "responses": {
          "200": {
            "description": "MFA setup started"
          }
        }
      }
    },
    "/auth/mfa/verify": {
      "post": {
        "summary": "Verify TOTP MFA factor",
        "description": "Requires authentication.",
        "responses": {
          "200": {
            "description": "MFA verified"
          }
        }
      }
    },
    "/auth/password-reset/request": {
      "post": {
        "summary": "Request password reset",
        "description": "Creates a password reset token if an active account exists.",
        "responses": {
          "200": {
            "description": "Password reset requested"
          }
        }
      }
    },
    "/auth/password-reset/complete": {
      "post": {
        "summary": "Complete password reset",
        "description": "Uses a reset token to set a new password.",
        "responses": {
          "200": {
            "description": "Password reset complete"
          }
        }
      }
    },
    "/billing/plans": {
      "get": {
        "summary": "List billing plans",
        "description": "Returns the public GoodOS billing plan catalog.",
        "responses": {
          "200": {
            "description": "Billing plans"
          }
        }
      }
    },
    "/usage": {
      "get": {
        "summary": "Get usage snapshot",
        "description": "Requires scope: read:usage. Returns usage, quotas, and current API key usage.",
        "security": [
          {
            "GoodOSApiKey": []
          },
          {
            "GoodOSBearer": []
          }
        ],
        "x-goodos-scope": "read:usage",
        "responses": {
          "200": {
            "description": "Usage snapshot"
          }
        }
      }
    },
    "/notifications": {
      "get": {
        "summary": "List notifications",
        "description": "Requires scope: read:notifications.",
        "security": [
          {
            "GoodOSApiKey": []
          },
          {
            "GoodOSBearer": []
          }
        ],
        "x-goodos-scope": "read:notifications",
        "responses": {
          "200": {
            "description": "Notifications and message center records"
          }
        }
      },
      "post": {
        "summary": "Create notification",
        "description": "Requires scope: write:notifications.",
        "security": [
          {
            "GoodOSApiKey": []
          },
          {
            "GoodOSBearer": []
          }
        ],
        "x-goodos-scope": "write:notifications",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "example": {
                "title": "System notice",
                "message": "Hello from GoodOS Notifications V2",
                "severity": "info",
                "category": "system",
                "channel": "in_app"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Notification created"
          }
        }
      }
    },
    "/admin/jobs-page-data": {
      "get": {
        "summary": "Admin Jobs V2 page data",
        "description": "Admin-only route for jobs, schedules, runs, locks, worker heartbeats, and queue items.",
        "responses": {
          "200": {
            "description": "Jobs V2 snapshot"
          },
          "401": {
            "description": "Authentication required"
          }
        }
      }
    },
    "/admin/jobs/{id}/run-safe": {
      "post": {
        "summary": "Run one job",
        "description": "Admin-only manual job execution.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job run result"
          },
          "401": {
            "description": "Authentication required"
          }
        }
      }
    },
    "/admin/jobs/run-due-safe": {
      "post": {
        "summary": "Run due jobs",
        "description": "Admin-only route to process currently due jobs.",
        "responses": {
          "200": {
            "description": "Due jobs processed"
          },
          "401": {
            "description": "Authentication required"
          }
        }
      }
    },
    "/api/admin/secrets-v2-page-data": {
      "get": {
        "summary": "Secrets V2 page data",
        "tags": [
          "Admin",
          "Secrets V2"
        ],
        "responses": {
          "200": {
            "description": "Secret metadata snapshot"
          },
          "401": {
            "description": "Authorization required"
          }
        }
      }
    },
    "/api/admin/secrets/create-safe": {
      "post": {
        "summary": "Create or rotate secret",
        "tags": [
          "Admin",
          "Secrets V2"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "secretKey": {
                    "type": "string"
                  },
                  "secretValue": {
                    "type": "string"
                  },
                  "displayName": {
                    "type": "string"
                  },
                  "category": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Encrypted secret reference created or rotated"
          },
          "401": {
            "description": "Authorization required"
          }
        }
      }
    },
    "/api/admin/secrets/{key}/rotate-safe": {
      "post": {
        "summary": "Rotate secret by key",
        "tags": [
          "Admin",
          "Secrets V2"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Secret rotated"
          },
          "401": {
            "description": "Authorization required"
          }
        }
      }
    },
    "/api/admin/secrets/{key}/resolve-test-safe": {
      "post": {
        "summary": "Resolve secret test",
        "tags": [
          "Admin",
          "Secrets V2"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Secret resolution test without raw value"
          },
          "401": {
            "description": "Authorization required"
          }
        }
      }
    },
    "/api/enterprise/readiness-program": {
      "get": {
        "summary": "Enterprise readiness program",
        "description": "Returns live file and database evidence for the nine GoodOS enterprise control domains.",
        "tags": [
          "Enterprise"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Enterprise readiness assessment"
          },
          "401": {
            "description": "Authorization required"
          },
          "403": {
            "description": "Owner or administrator access required"
          }
        }
      }
    },
    "/api/data-platform/health": {
      "get": {
        "summary": "Automatic data-plane health",
        "tags": ["Data Platform"],
        "security": [],
        "responses": {
          "200": {"description": "PostgREST data plane is operational"},
          "503": {"description": "The data plane is degraded or unavailable"}
        }
      }
    },
    "/api/data-platform/token": {
      "post": {
        "summary": "Issue a short-lived session-bound data token",
        "tags": ["Data Platform"],
        "security": [{"GoodOSBearer": []}],
        "responses": {
          "200": {"description": "Five-minute database access token"},
          "401": {"description": "A current GoodOS session is required"}
        }
      }
    },
    "/rest/v1/{resource}": {
      "parameters": [
        {"name": "resource", "in": "path", "required": true, "schema": {"type": "string"}, "description": "An explicitly published goodos_api table, view, or function"}
      ],
      "get": {
        "summary": "Query an automatically generated REST resource",
        "tags": ["Data Platform"],
        "security": [{"GoodOSBearer": []}],
        "responses": {"200": {"description": "RLS-filtered records"}, "401": {"description": "Authorization required"}, "403": {"description": "Database policy denied access"}}
      },
      "post": {
        "summary": "Insert into an automatically generated REST resource",
        "tags": ["Data Platform"],
        "security": [{"GoodOSBearer": []}],
        "responses": {"201": {"description": "Record inserted"}, "401": {"description": "Authorization required"}, "403": {"description": "Database policy denied access"}}
      },
      "patch": {
        "summary": "Update an automatically generated REST resource",
        "tags": ["Data Platform"],
        "security": [{"GoodOSBearer": []}],
        "responses": {"200": {"description": "Record updated"}, "401": {"description": "Authorization required"}, "403": {"description": "Database policy denied access"}}
      },
      "delete": {
        "summary": "Delete from an automatically generated REST resource",
        "tags": ["Data Platform"],
        "security": [{"GoodOSBearer": []}],
        "responses": {"200": {"description": "Record deleted"}, "401": {"description": "Authorization required"}, "403": {"description": "Database policy denied access"}}
      }
    },
    "/api/settings/overview": {
      "get": {
        "summary": "Current user and business settings overview",
        "tags": ["Account Settings"],
        "security": [{"bearerAuth": []}],
        "responses": {"200": {"description": "Profile, preferences, organization, workspace, sessions, and audit activity"}, "401": {"description": "Authorization required"}}
      }
    },
    "/api/settings/profile": {
      "patch": {
        "summary": "Update current user profile",
        "tags": ["Account Settings"],
        "security": [{"bearerAuth": []}],
        "responses": {"200": {"description": "User profile updated"}, "400": {"description": "Invalid profile data"}, "401": {"description": "Authorization required"}}
      }
    },
    "/api/settings/avatar": {
      "post": {
        "summary": "Upload current user profile photo",
        "tags": ["Account Settings"],
        "security": [{"bearerAuth": []}],
        "requestBody": {"required": true, "content": {"multipart/form-data": {"schema": {"type": "object", "required": ["avatar"], "properties": {"avatar": {"type": "string", "format": "binary"}}}}}},
        "responses": {"200": {"description": "Profile photo saved"}, "413": {"description": "Profile photo is too large"}, "415": {"description": "Unsupported image type"}}
      },
      "delete": {
        "summary": "Remove current user profile photo",
        "tags": ["Account Settings"],
        "security": [{"bearerAuth": []}],
        "responses": {"200": {"description": "Profile photo removed"}, "401": {"description": "Authorization required"}}
      }
    },
    "/api/settings/business-profile": {
      "patch": {
        "summary": "Update the current organization business profile",
        "tags": ["Account Settings"],
        "security": [{"bearerAuth": []}],
        "responses": {"200": {"description": "Business profile updated"}, "400": {"description": "Invalid business profile data"}, "403": {"description": "Owner or administrator access required"}}
      }
    },
    "/api/settings/business-logo": {
      "post": {
        "summary": "Upload the current organization business logo",
        "tags": ["Account Settings"],
        "security": [{"bearerAuth": []}],
        "requestBody": {"required": true, "content": {"multipart/form-data": {"schema": {"type": "object", "required": ["logo"], "properties": {"logo": {"type": "string", "format": "binary"}}}}}},
        "responses": {"200": {"description": "Business logo saved"}, "403": {"description": "Owner or administrator access required"}, "413": {"description": "Business logo is too large"}, "415": {"description": "Unsupported image type"}}
      },
      "delete": {
        "summary": "Remove the current organization business logo",
        "tags": ["Account Settings"],
        "security": [{"bearerAuth": []}],
        "responses": {"200": {"description": "Business logo removed"}, "403": {"description": "Owner or administrator access required"}}
      }
    },
    "/api/settings/preferences": {
      "patch": {
        "summary": "Update current user preferences",
        "tags": ["Account Settings"],
        "security": [{"bearerAuth": []}],
        "responses": {"200": {"description": "Preferences updated"}, "400": {"description": "Invalid preference data"}}
      },
      "delete": {
        "summary": "Reset current user preferences",
        "tags": ["Account Settings"],
        "security": [{"bearerAuth": []}],
        "responses": {"200": {"description": "Preferences reset to defaults"}}
      }
    },
    "/api/goodbase/v1/platform/overview": {
      "get": {
        "summary": "Goodbase Phase 6-10 platform overview",
        "tags": ["Goodbase Platform"],
        "security": [{"GoodOSBearer": []}],
        "responses": {"200": {"description": "Queue, schedule, recovery, storage, and edge-runtime metrics"}, "403": {"description": "Administrator access required"}}
      }
    },
    "/api/goodbase/v1/platform/queues": {
      "get": {
        "summary": "List durable queues and delivery metrics",
        "tags": ["Goodbase Queues"],
        "security": [{"GoodOSBearer": []}],
        "responses": {"200": {"description": "Tenant queue inventory"}}
      },
      "post": {
        "summary": "Create a durable tenant queue",
        "tags": ["Goodbase Queues"],
        "security": [{"GoodOSBearer": []}],
        "responses": {"201": {"description": "Queue created"}, "400": {"description": "Invalid queue policy"}}
      }
    },
    "/api/goodbase/v1/platform/schedules": {
      "get": {
        "summary": "List schedules and recent run history",
        "tags": ["Goodbase Scheduling"],
        "security": [{"GoodOSBearer": []}],
        "responses": {"200": {"description": "Tenant schedules"}}
      },
      "post": {
        "summary": "Create a queue, SQL, HTTPS, or edge-function schedule",
        "tags": ["Goodbase Scheduling"],
        "security": [{"GoodOSBearer": []}],
        "responses": {"201": {"description": "Schedule created"}, "400": {"description": "Invalid schedule"}}
      }
    },
    "/api/goodbase/v1/platform/recovery": {
      "get": {
        "summary": "Backup, PITR, WAL, and disaster-recovery status",
        "tags": ["Goodbase Recovery"],
        "security": [{"GoodOSBearer": []}],
        "responses": {"200": {"description": "Recovery policies and available recovery window"}}
      }
    },
    "/api/goodbase/v1/platform/storage/uploads": {
      "post": {
        "summary": "Create a TUS or S3 multipart upload session",
        "tags": ["Goodbase Storage"],
        "security": [{"GoodOSBearer": []}],
        "responses": {"201": {"description": "Resumable upload session created"}, "400": {"description": "Invalid upload policy"}}
      }
    },
    "/api/goodbase/v1/platform/edge/functions": {
      "get": {
        "summary": "List isolated edge functions and immutable versions",
        "tags": ["Goodbase Edge Functions"],
        "security": [{"GoodOSBearer": []}],
        "responses": {"200": {"description": "Tenant edge functions"}}
      },
      "post": {
        "summary": "Create an isolated edge function",
        "tags": ["Goodbase Edge Functions"],
        "security": [{"GoodOSBearer": []}],
        "responses": {"201": {"description": "Function created"}, "400": {"description": "Invalid runtime policy"}}
      }
    },
    "/api/auth/v3/passwordless/start": {
      "post": {
        "summary": "Start a single-use email OTP or magic-link sign-in",
        "tags": ["Goodbase Authentication"],
        "security": [],
        "responses": {"202": {"description": "Generic challenge delivery response"}, "429": {"description": "Authentication rate limit exceeded"}}
      }
    },
    "/api/auth/v3/passwordless/verify": {
      "post": {
        "summary": "Consume a passwordless challenge and create a session",
        "tags": ["Goodbase Authentication"],
        "security": [],
        "responses": {"200": {"description": "Authenticated session"}, "401": {"description": "Invalid, expired, reused, or locked challenge"}}
      }
    },
    "/api/goodbase/v1/developer/overview": {
      "get": {
        "summary": "Goodbase Phase 11-15 developer-platform overview",
        "tags": ["Goodbase Developer Platform"],
        "security": [{"GoodOSBearer": []}],
        "responses": {"200": {"description": "Authentication, CLI, SDK, migration, and preview metrics"}, "403": {"description": "Administrator access required"}}
      }
    },
    "/api/goodbase/v1/developer/auth/channels": {
      "get": {
        "summary": "List authentication channels, security policy, and hooks",
        "tags": ["Goodbase Authentication"],
        "security": [{"GoodOSBearer": []}],
        "responses": {"200": {"description": "Tenant authentication configuration"}}
      }
    },
    "/api/goodbase/v1/developer/sdks": {
      "get": {
        "summary": "List supported SDK releases and compatibility",
        "tags": ["Goodbase SDKs"],
        "security": [{"GoodOSBearer": []}],
        "responses": {"200": {"description": "SDK release registry"}}
      }
    },
    "/api/goodbase/v1/developer/migrations": {
      "get": {
        "summary": "List checksum-locked migration plans and steps",
        "tags": ["Goodbase Migrations"],
        "security": [{"GoodOSBearer": []}],
        "responses": {"200": {"description": "Tenant migration plans"}}
      }
    },
    "/api/goodbase/v1/developer/migrations/validate": {
      "post": {
        "summary": "Lint and register a migration plan without executing it",
        "tags": ["Goodbase Migrations"],
        "security": [{"GoodOSBearer": []}],
        "responses": {"201": {"description": "Migration plan validated"}, "400": {"description": "Invalid migration SQL"}}
      }
    },
    "/api/goodbase/v1/developer/previews": {
      "get": {
        "summary": "List isolated preview environments and resources",
        "tags": ["Goodbase Preview Environments"],
        "security": [{"GoodOSBearer": []}],
        "responses": {"200": {"description": "Preview environment inventory"}}
      },
      "post": {
        "summary": "Queue an isolated preview environment",
        "tags": ["Goodbase Preview Environments"],
        "security": [{"GoodOSBearer": []}],
        "responses": {"202": {"description": "Preview provisioning accepted"}, "409": {"description": "Preview slug already exists"}}
      }
    }
  }
}
